# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Skill Test\simple-api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
